<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>My Simple Blog</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <script type="text/javascript" th:src="@{/js/lib/ckeditor.js}"></script>
</head>
<body>

<header th:replace="/fragments/header :: header"></header>

<main role="main" class="container">
    <div layout:fragment="content">
        Page content goes here
    </div>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/lib/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>

</body>
</html>