<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div class="row" layout:fragment="content">
    <div class="col-md-8 blog-main">
        <div class="blog-post" th:each="post,iterStat : ${posts}">
            <h2 class="blog-post-title" th:text="${post.title}"></h2>
            <p class="blog-post-meta">
                <span th:text="${#dates.format(post.createdOn, 'dd MMMM, yyyy')}"></span>
                by <a href="#" th:text="${post.createdBy}"></a>
            </p>

            <div th:id="${'editor' + iterStat.index}"></div>

            <script th:inline="javascript">
                initEditorInPreviewMode('#editor' + [[${iterStat.index}]], [[${post.content}]]);
            </script>
        </div>

        <nav class="blog-pagination" th:if="${posts.totalPages gt 0}">
            <a class="btn btn-outline-primary" href="#"
               th:href="@{/(page=${posts.number + 1})}"
               th:classappend="${posts.number + 1 eq posts.totalPages} ? 'disabled'">Older</a>
            <a class="btn btn-outline-secondary" href="#" th:href="@{/(page=${posts.number - 1})}"
               th:classappend="${posts.number eq 0} ? 'disabled'">Newer</a>
        </nav>
    </div>

    <aside th:replace="fragments/sidebar :: sidebar"></aside>

</div>

</body>
</html>