<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">

    <div th:if="${mode != 'preview'}">
        <form method="post" th:action="${mode} == 'create' ? @{/post} : @{/post/edit}" th:object="${post}">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:each="err : ${#fields.errors('title')}" th:text="${err}">
                    Title error
                </div>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" th:field="*{content}"
                          th:errorclass="is-invalid"></textarea>
                <div class="invalid-feedback" th:each="err : ${#fields.errors('content')}" th:text="${err}">
                    Content error
                </div>
            </div>

            <div class="col-12 mb-2 d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
            </div>

            <script>
                initEditorInEditMode('#content');
            </script>
        </form>
    </div>

    <div th:if="${mode == 'preview'}">

        <h2 class="blog-post-title" th:text="${post.title}"></h2>

        <div class="row">
            <p class="col-md-10 blog-post-meta">
                <span th:text="${#dates.format(post.createdOn, 'dd MMMM, yyyy')}"></span>
                by <a href="#" th:text="${post.createdBy}"></a>
            </p>

            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-primary btn-sm mr-1" th:href="@{/post(id=${post.id},mode='edit')}">Edit</a>
                <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#postDeleteConfirmation">Delete</a>
            </div>

            <div th:replace="/fragments/modal-panel :: modal-panel('postDeleteConfirmation', 'Delete post', 'Are you sure you wanna delete the post?')"></div>
        </div>

        <div id="editor"></div>

        <script th:inline="javascript">
            initEditorInPreviewMode('#editor', [[${post.content}]]);
        </script>

    </div>

</div>

</body>
</html>