<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<div layout:fragment="content">

    <h2>Sign up</h2>

    <form method="post" th:action="@{/register}" th:object="${userCreateRequest}">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:each="err : ${#fields.errors('username')}" th:text="${err}">
                Username error
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:each="err : ${#fields.errors('password')}" th:text="${err}">
                Password error
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:each="err : ${#fields.errors('email')}" th:text="${err}">
                Email error
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

</body>
</html>